.hidedSidebar {
	> aside {
		width: var(--sidebar-width-closed);
		flex-grow: 0;

		h5 {
			@apply transition-opacity;
			opacity: 0;
		}
	}
}

.showedSidebar {
	> aside {
		width: var(--sidebar-width);
	}
}
